body { 
    background-image: linear-gradient(rgb(255, 0, 0), rgb(0, 0, 255));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
}

h1 {
    font-size: 64px;
    background: -webkit-linear-gradient(rgb(125, 236, 13), rgb(10, 114, 165));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    text-align: center;
}

p {
    font-size: 32px;
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    text-align: center;
}

.column3 {
    float: left;
    width: 30%;
    padding: 5px;
}


.row::after {
    content: "";
    clear: both;
    display: table;
}

.column2 {
    float: left;
    width: 40%;
    padding: 5px;
}

.topnav {
    background-color: #890195;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #3405cf;
    color: black;
}
 
.topnav a.active {
    background-color: #9e8e02;
    color: white;
}