body { 
    background-image: linear-gradient(rgb(255, 150, 0), rgb(221, 14, 163));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
}

h1 {
    font-size: 64px;
    background: -webkit-linear-gradient(rgb(4, 4, 106), rgb(232, 9, 232));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    text-align: center;
}

p {
    font-size: 32px;
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    text-align: center;
}

.center {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.column {
    float: left;
    width: 35%;
    padding: 5px;
}


.row::after {
    content: "";
    clear: both;
    display: table;
}

.pics2 {
    float: left;
    width: 18%;
    padding: 5px;
    margin: auto;
}

.center2 {
    margin: auto;
    width: 80%;
    padding: 10px;
}


.topnav {
    background-color: #890195;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #3405cf;
    color: black;
}
 
.topnav a.active {
    background-color: #9e8e02;
    color: white;
}